services:
  fsw:
    extends:
      file: docker-compose-prod.yml
      service: fsw
    image: "fsw-dev"
    build:
      context: .
      dockerfile: fsw.Dockerfile
      target: "fsw-dev"
    volumes:
      - "./cFS:/code/cFS"
      - "./edoras_core:/code/edoras_core"
    working_dir: /code/cFS/build/exe/cpu2
  rosgsw:
    extends:
      file: docker-compose-prod.yml
      service: rosgsw
    image: "rosgsw-dev"
    build:
      # NOTE: Actual build process must be executed discretely for dev mounts
      context: .
      dockerfile: rosws.Dockerfile
      target: rosgsw-dev
    volumes:
      - "./rosws:/code/rosws"
    working_dir: /code/rosws
  rosfsw:
    extends:
      file: docker-compose-prod.yml
      service: rosfsw
    image: "rosfsw-dev"
    build:
      context: .
      dockerfile: rosws.Dockerfile
      target: rosfsw-dev
    volumes:
      - "./rosws:/code/rosws"
    working_dir: /code/rosws
  novnc:
    extends:
      file: docker-compose-prod.yml
      service: novnc

# NOTE: networks apparently can't be imported from related file?
networks:
  spaceip:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16
         gateway: 10.5.0.1      
